{
   "tabWidth": 3,
   "printWidth": 120,
   "semi": true,
   "singleQuote": true,
   "arrowParens": "avoid",
   "trailingComma": "es5",
   "importOrderSeparation": true,
   "importOrderSortSpecifiers": true,
   "importOrder": [
      "<THIRD_PARTY_MODULES>",

      "core",

      "^env$",

      "^@studio(.*)",

      "^trpc(.*)",
      "^@trpc$",

      "^shared$",

      "^@redux$",
      "^@redux/reducers(.*)",

      "^styles(.*)",

      "^assets(.*)",

      "^components/shared$",

      "^components(.*)",
      "(.*)/components$",

      "^./modules$",

      "^@redux/hooks$",
      "^hooks$",
      "(.*)hooks$",

      "^services$",
      "(.*)services$",

      "^helpers$",
      "(.*)helpers$",

      "^utils$",
      "(.*)utils$",

      "^types(.*)",
      "(.*)types$",

      "^[./]"
   ]
}
